Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a
given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [44]:
# Using Bubble Sort
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

for i in range(len(l)):
  for j in range(len(l)):
    if j!=len(l)-1 and l[j][1] > l[j+1][1]:
      l[j],l[j+1]=l[j+1],l[j]

print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Write a Python program to get the difference between the two lists.

list1 = [1, 3, 5, 7, 9]

list2 = [1, 2, 4, 6, 7, 8]

O/P
[9, 3, 5, 8, 2, 4, 6]

In [47]:
list1 = [1, 3, 5, 7, 9]

list2 = [1, 2, 4, 6, 7, 8]

print(list(set(list1)^set(list2)))

[2, 3, 4, 5, 6, 8, 9]

Write a Python program to find the second smallest number in a list.

EXAMPLE
[1, 2, -8, -2, 3]

O/P
-2

In [48]:
l = [1, 2, -8, -2, 3]

print(sorted(l)[1])

-2

Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [62]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

l = [dic1,dic2,dic3]
fin_dic = {}
for i in l:
  for keys,values in i.items():
    fin_dic[keys]=values

print(fin_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Write a Python program to sum all the items in a dictionary.

In [68]:
l = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

sum = 0
for keys,values in l.items():
  sum += values

print(sum)

210

Write a Python program to split a list every Nth element.

Sample list: 

[&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;, &#39;k&#39;, &#39;l&#39;, &#39;m&#39;, &#39;n&#39;]

Expected Output: 

[[&#39;a&#39;, &#39;d&#39;, &#39;g&#39;, &#39;j&#39;, &#39;m&#39;], [&#39;b&#39;, &#39;e&#39;, &#39;h&#39;, &#39;k&#39;, &#39;n&#39;], [&#39;c&#39;, &#39;f&#39;, &#39;i&#39;, &#39;l&#39;]]

In [80]:
n = int(input("Enter your input :- "))
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
new_l = []
for i in range(0,len(l),n):
  new_l.append(l[i:i+n])

new_l

Enter your input :- 5

[['a', 'b', 'c', 'd', 'e'], ['f', 'g', 'h', 'i', 'j'], ['k', 'l', 'm', 'n']]

In [74]:
i=4
new_l.append(l[i:i+4])
new_l

[['e', 'f', 'g', 'h'], ['e', 'f', 'g', 'h']]