1. Write a Python program to create a tuple.

In [ ]:
import numpy as np

tup = tuple(np.random.randint(100,size = 20))
print(tup)

(21, 65, 87, 17, 68, 85, 0, 68, 53, 27, 16, 95, 24, 22, 37, 38, 67, 43, 67, 12)

2. Write a Python program to create a tuple with different data types.

In [ ]:
tup = ('amar',1,3.14,True,[1,2,3],(4,5,6),{7,8,9},{"mobile":828692900})
print(tup)

('amar', 1, 3.14, True, [1, 2, 3], (4, 5, 6), {8, 9, 7}, {'mobile': 828692900})

3. Write a Python program to create a tuple with numbers and print one item

In [ ]:
tup = tuple(np.random.randint(100,size = 20))

print('tup :- ',tup)
print('tup[0] :-' ,tup[0])

tup :-  (98, 6, 3, 85, 42, 51, 23, 62, 69, 74, 14, 42, 12, 44, 74, 22, 41, 87, 15, 57)
tup[0] :- 98

4. Write a Python program to unpack a tuple in several variables

In [ ]:
tup = (1,2,3,4)
t1,t2,t3,t4 = tup

print(t1,t2,t3,t4)

1 2 3 4

5. Write a Python program to add an item in a tuple.

In [ ]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8,9)

tup1 + tup2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

6. Write a Python program to convert a tuple to a string.

In [ ]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

7. Write a Python program to get the 4th element and 4th element from last of a tuple.

In [ ]:
tup = tuple(np.random.randint(100,size = 20))

print('tup :- ',tup)
print('4th from top :- ',tup[3])
print('4th from last :- ',tup[-4])

tup :-  (93, 6, 65, 92, 16, 8, 15, 52, 39, 74, 95, 68, 97, 36, 23, 3, 11, 59, 60, 57)
4th from top :-  92
4th from last :-  11

8. Write a Python program to create the colon of a tuple.

In [ ]:
from copy import deepcopy

tup = tuple(np.random.randint(100,size = 20))
tup1 = deepcopy(tup)

tup = tup + ('amar','jadhav')
print(tup,tup1,sep="\n")

(68, 31, 51, 93, 67, 41, 84, 31, 52, 26, 74, 65, 10, 52, 48, 82, 37, 4, 73, 13, 'amar', 'jadhav')
(68, 31, 51, 93, 67, 41, 84, 31, 52, 26, 74, 65, 10, 52, 48, 82, 37, 4, 73, 13)

9. Write a Python program to find the repeated items of a tuple.

In [ ]:
tup = (1,2,3,4,4,5,6,4)
tup.count(4)

3

10. Write a Python program to check whether an element exists within a tuple.

In [ ]:
tup = (1,2,3,4,4,5,6,4)
n = int(input('Enter your number'))

# Version 1

try :
  tup.index(n)
except Exception as arg:
  print(n,"does not present in the list")
else :
  print(n,"present in the list")

# Version 2

print(n in tup)

Enter your number10
10 does not present in the list
False

11. Write a Python program to convert a list to a tuple.

In [ ]:
tup = list(np.random.randint(100,size = 20))
print('list :- ',tup)
print('tuple :- ',tuple(tup))

list :-  [13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22]
tuple :-  (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

12. Write a Python program to remove an item from a tuple

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

tup_l = list(tup)
tup_l.remove(59)

tup = tuple(tup_l)
print(tup)

(13, 79, 79, 95, 49, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

13. Write a Python program to slice a tuple.

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

tup[0:5]

(13, 79, 79, 95, 49)

14. Write a Python program to find the index of an item of a tuple.

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

tup.index(79)

1

15. Write a Python program to find the length of a tuple.

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

len(tup)

20

16. Write a Python program to convert a tuple to a dictionary.

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)

dic = {i:tup[i] for i in range(len(tup))}
dic

{0: 13,
 1: 79,
 2: 79,
 3: 95,
 4: 49,
 5: 59,
 6: 86,
 7: 57,
 8: 13,
 9: 35,
 10: 76,
 11: 58,
 12: 51,
 13: 13,
 14: 57,
 15: 70,
 16: 87,
 17: 13,
 18: 96,
 19: 22}

17. Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
l = [(1,2),(2,3),(3,4)]

t1,t2,t3 = l
print(list(t1),list(t2),list(t3))

[1, 2] [2, 3] [3, 4]

18. Write a Python program to reverse a tuple.

In [ ]:
tup = (13, 79, 79, 95, 49, 59, 86, 57, 13, 35, 76, 58, 51, 13, 57, 70, 87, 13, 96, 22)
tup = tup[::-1]
print(tup)

(22, 96, 13, 87, 70, 57, 13, 51, 58, 76, 35, 13, 57, 86, 59, 49, 95, 79, 79, 13)

19. Write a Python program to convert a list of tuples into a dictionary.

In [ ]:
l = [(1,2),(2,3),(3,4)]

dic = {i:j for i,j in l}

2

20. Write a Python program to print a tuple with string formatting.


    Sample tuple : (100, 200, 300)
    Output : This is a tuple (100, 200, 300)

In [ ]:
tup = (100, 200, 300)

print('This is a tuple ',tup)

This is a tuple  (100, 200, 300)